.idea/
d.idea/qtl.iml
.idea/vcs.xml
SeqPrep-master/.gitignore
SeqPrep-master/f1.fastq
SeqPrep-master/f2.fastq
SeqPrep-master/ff1
SeqPrep-master/ff1.fastq
SeqPrep-master/ff2
SeqPrep-master/ff2.fastq
SeqPrep-master/LICENSE
SeqPrep-master/Makefile
SeqPrep-master/merg
SeqPrep-master/merge
SeqPrep-master/merge.gz
SeqPrep-master/merged
SeqPrep-master/out1
SeqPrep-master/out1.gz
SeqPrep-master/out2
SeqPrep-master/out2.gz
SeqPrep-master/README.md
SeqPrep-master/SeqPrep.c
SeqPrep-master/stdaln.c
SeqPrep-master/stdaln.h
SeqPrep-master/Twist_R1.fastq
SeqPrep-master/Twist_R2.fastq
SeqPrep-master/utils.c
SeqPrep-master/utils.h
SeqPrep-master/Test/.gitignore
SeqPrep-master/Test/CLEAN.sh
SeqPrep-master/Test/README.md
SeqPrep-master/Test/RUNTEST.sh
SeqPrep-master/Test/seqlens.py
SeqPrep-master/Test/SimTest/RUNTEST.sh
SeqPrep-master/Test/SimTest/sens_vs_spec.py
SeqPrep-master/Test/SimTest/simseq_trimmed_error_check.py
src/test.py
src/oligo_matcher.pyc
src/pdf_generator.pyc
src/variant.pyc
src/aligners/aligner.pyc
chart_test.pdf
pre_load.csv
Sample.pdf
test.png
testing.pdf
TODO
.idea/dictionaries/yoavorlev.xml
src/read.pyc
src/analyzers/variant_distriution_analyzer.pyc
temp/pdf_test1
temp/pdf_test1.pdf
temp/variant_distribution.png
src/aligners/sw_barcode_alignemnt.pyc
src/analyzers/deletion_analyzer.pyc
.ipynb_checkpoints/expirements-checkpoint.ipynb
data/tali_data/report.pdf
data/tali_data/report_2.pdf
data/tali_data/tali_after_matching.csv
data/tali_data/tali_config.json
data/tali_data/tali_design.csv
data/tali_data/deliverables/report_R1_60_CGATGT_L006.pdf
data/tali_data/deliverables/report_R1_6_GCCAAT_L005.pdf
data/tali_data/deliverables/report_R2_60_CAGATC_L007.pdf
data/tali_data/deliverables/report_R2_6_ATGTCA_L005.pdf
data/toy_data/report.pdf
data/toy_data/test.py
data/toy_data/toy2_data_after_alignment.csv
data/toy_data/toy2_data_after_matching.csv
data/toy_data/toy2_data_config.json
data/toy_data/toy2_data_design.csv
data/toy_data/toy2_data_reads.fastq
data/toy_data/toy2_data_report.pdf
data/toy_data/toy2A_data_reads.fastq
data/toy_data/toy_data_after_alignment.csv
data/toy_data/toy_data_after_matching.csv
data/toy_data/toy_data_report.pdf
data/zohar_data/Twist_zohar_after_alignment.csv
data/zohar_data/Twist_zohar_after_matching.csv
data/zohar_data/Twist_zohar_reads.fastq
data/zohar_data/Twist_zohar_report.pdf
src/reads_length_histogram.png
src/temp/v.png
src/temp/variant_distribution.png
src/temp/variant_read_distribution.png
temp/reads_length_histogram.png
temp/variant_read_distribution.png
app.py
deliverable/
temp/
*.xml
*.iml
*.pyc
errorRates.pdf
*.pyc
.DS_Store
src/library_reads/__pycache__/library_reads.cpython-37.pyc
src/analyzers/error_statistics/__pycache__/cumulative_error_analyzer.cpython-37.pyc
*.pyc
variant_distributionTotal.png
*.pyc
.DS_Store

.DS_Store
SymbolDependent.png
stacked_letters_by_reads.png
*.icloud
