swifter==0.281
pandas==0.23.4
Flask==1.0.2
numpy==1.15.4
reportlab==3.5.12
Werkzeug==0.14.1
matplotlib==3.0.2
seaborn==0.9.0
edlib==1.2.3.post1
requests==2.21.0
progress==1.4
wget==3.2
dask==1.2.2
toolz==0.9.0
cloudpickle==0.7.0
pillow==5.3.0
requests==2.21.0
PyInstaller